.trip-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    border-bottom: 2px solid rgba(0,0,0,0.15);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.main-header-booking {
    padding: 10px;
    color: #27374c;
    background-color: #eceff2;
    font-size: 16px;
    font-weight: bold;
}

.booking-destination {
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
}

#bd {
    background-color: unset;
}

.booking-destination > a {
    font-weight: bold;
    text-decoration: none;
}

.booking-destination > a:hover {
    color: unset;
}

.middle {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
}

.half {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    font-size: 1em;
    color: #34495e;
}

.num-trav {
    padding: 10px;
    font-size: 1em;
    color: #34495e;
}

.public {
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
}

.descrip {
    padding: 10px 10px 10px 20px;
}

.trip-index {
  background-color: #F1EFEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  min-height: 83vh;
}

.trip-mod-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  font-size: 16px;
  color: #287FB8;
  background-color: white;
  min-width: max-content;
}

.trip-mod-index > a {
    background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.trip-mod-index > h3 {
  text-align: left;
  color: #ED6504;
}

.left-column-booking {
    width: 25%;
}

.right-column-booking {
    width: 25%;
}

#bookings-public {
  border-bottom: 1px solid #e6e6e6;
  color: #27374c;
  font-size: 1em;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  height: 66px;
}

.edit-booking {
    background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 200px;
    margin: 20px;
}