.booking-box {
  height: 900px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.booking-form {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.booking-form input {
  height: 50px;
  border: 1px solid lightgray;
}

.dates {
  display: flex;
  justify-content: center;
}