.dashboard-header {
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
  font-size: 16px;
  height: 70px;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.logo {
  height: 100px;
  width: 100px;
}


.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 70px;
}

#search-type {
  height: 50%;
  border-right: 1px solid #a1acb8;
  font-size: inherit;
  font-weight: 100;
  display: block;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
  border: 1px solid #aaa;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.right-nav {
  display: flex;
  width: 450px;
  height: 70px;
  align-items: center;
  font-size: 14px;
}

.right-nav a {
  display: flex;
  height: inherit;
  flex-direction: column-reverse;
  justify-content: center;
}

.right-nav:hover {
  cursor: pointer;
}

.right-nav ul {
  display: flex;
  width: 400px;
  height: 30px;
  align-items: center;
  font-size: 14px;
}

.right-nav ul li {
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: -webkit-center;
}

.right-nav span {
  font-size: 30px;
}

.right-nav img {
  width: 60%;
  height: inherit;
}


.explore-choice {
  border: 1px solid gray;
  display: contents;
}

.topnav {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
  font-size: 16px;
  height: 50%;
  width: 46%;
  border-radius: 5px;
  // text-align: center;
  // vertical-align: -webkit-baseline-middle;
}

.topnav > form {
  width: -webkit-fill-available;
  display: flex;
}

.topnav > form > button {
  display: flex;
  width: 25px;
  height: 33px;
  align-items: center;
}

#searchQueryTop {
  font-size: inherit;
  height: 30px;
  width: 155px;
}

.topnav img {
  display: block;
  width: 18%;
  height: auto;
}

#dropdown-menu {
  display: none;
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  top: 70px;
  right: 25px;
  width: 150px;
}

li:focus #dropdown-menu {
  display: block;
  color: #27374c;
  font-size: 14px;
}

#dropdown-menu button {
  width: 50px;
  height: 200px;
}

#dropdown-menu li:hover {
  background-color: lightgray;
  color: #ED6504;
}

.nav-logout {
  width: 75px;
  height: 75px;
}