.dashboard-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
  font-size: 16px;
  height: 70px;
  border-bottom: 2px solid rgba(0,0,0,0.15);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.logo img {
  position: absolute;
  top: -3%;
  left: 20.6em;
}

.logo {
  height: 50px;
  width: 50px;
  position: static;
  top: 0%;
  left: -1%;
}


.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -10%;
  width: 480px;
  height: 70px;
}

#search-type {
  width: 20%;
  height: 50%;
  border-right: 1px solid #a1acb8;
  font-size: inherit;
  font-weight: 100;
  display: block;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
}

.right-nav {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  align-items: center;
  position: relative;
  right: 20%;
  font-size: 14px;
}

.right-nav > button {
  height: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: -webkit-center;
}

.right-nav span {
  font-size: 30px;
}

.right-nav img {
  width: 60%;
  height: inherit;
}


.explore-choice {
  border: 1px solid gray;
  display: contents;
}

.topnav {
  border: 1px solid gray;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
  font-size: 16px;
  height: 45%;
  width: 46%;
  border-radius: 5px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}

.topnav input {
  font-size: inherit;
}

.topnav img {
  display: block;
  width: 8%;
  height: auto;
  position: absolute;
  top: 22%;
  left: 36.5%;
}

.dashboard-link-4-body {
  position: initial;
}

.dash-nav-settings {
  display: none;
}

.dash-nav-settings:active {
  display: flex;
}