.fname {
background-color: white;
border: 1px solid black;
color: black;
border-radius: 5px;
box-shadow: gray;
height:30px;
min-width: 200px;
z-index: 2;
/* display: none; */
animation-fill-mode: both;
}

.lname {
background-color: white;
border: 1px solid black;
color: black;
border-radius: 5px;
box-shadow: gray;
height:30px;
min-width: 200px;
z-index: 2;
/* display: none; */
}

.email {
background-color: white;
border: 1px solid black;
color: black;
border-radius: 5px;
box-shadow: gray;
height:30px;
min-width: 200px;
z-index: 2;
/* display: none; */
}

.password {
background-color: white;
border: 1px solid black;
color: black;
border-radius: 5px;
box-shadow: gray;
height:30px;
min-width: 200px;
z-index: 2;
/* display: none; */
}
.hidden {
  display: none;
}

.password-error {
  background-color: rgba(198,61,67,0.25);
  color: #3e1214;
  display: block;
  z-index: 1;
  font-size: 13px;
}
