.footer {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto 50px auto;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-footer {
  display: flex;
}

.main-footer h3 {
  margin: auto;
  display: flex;
  width: 150px;
  height: 75px;
  align-items: center;
}

.footer-icons {
  display: flex;
  width: 150px;
  height: 75px;
  align-items: center;
  margin: auto;
}

