.global-header {
  height: 70px;
  display: flex;
  flex-direction: row;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.header-link-3 {
  background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    padding: 8px 12px;
    text-align: center;
    width: 30px;
    height: 20px;    
}

.header-link-4 {
  background-color: white;
  border: 1px solid #287FB8;
  color: #287FB8;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 8px 12px;
  text-align: center;
  width: 45px;
  height: 20px;
}


.session-buttons-header > span {
  margin: 10px;
}