.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.before {
content: '';
width: 3px;
height: 200px;
background-color: white;
}

.login-form-container {
  background-color: white;
  width: 500px;
  height: 560px;
  border-radius: 7px;
}

.login-form-box {
  border-bottom: 1px solid #e6e6e6;
}

.close-x {
  position: fixed;
  top: 2px;
  right: -13px;
  background: none;
  color: #afb7c3;
  font-size: 1.5em;
  height: 1.3em;
  min-width: 0;
  text-indent: 0;
  width: 1.5em;
}

.login-input-email {
  border-radius: 4px;
  padding: 12px 8px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  box-sizing: border-box;
  display: block;
  width: 420px;
  height: 50px;
  font-size: 16px;
  font-weight: 350;
  position: absolute;
  left: 8%;
  top: 18%;
}

.login-input-email:focus {
  box-shadow: 0 0 5px rgb(81, 118, 238);
  border: 3px solid rgba(81, 118, 238, 1);
}

.login-input-password {
  border-radius: 4px;
  padding: 12px 8px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  box-sizing: border-box;
  display: block;
  width: 420px;
  height: 50px;
  font-size: 16px;
  font-weight: 350;
  position: absolute;
  left: 8%;
  top: 29%;
}

.login-input-password:focus {
  box-shadow: 0 0 5px rgb(81, 118, 238);
  border: 3px solid rgba(81, 118, 238, 1);
}

.login-header {
  display: block;
  position: absolute;
  left: 8%;
  top: 5.2%;
  color: #34495E;
  font-size: 19px;
  font-weight: 450;  
}

.remember-field {
  display: flex;
  position: absolute;
  top: 13.8em;
  left: 8%;
  width: 84%;
  justify-content: space-between;
}


.remember-field input {
  font-size: .85rem;
  color: #6c797a;
  position: absolute;
  top: 2px;
  left:0

}

.remember-field a {
  color: #287FB8;
  font-size: .85rem;
  position: absolute;
  right: 0px;
}

.remember-field a:hover {
   color: #ED6504;
}

.remember-field label {
  position: absolute;
  top: -2px;
  left: 4%;
  font-size: .85rem;
  color: #6c797a;
}

.session-submit-login {
  position: absolute;
  top: 47%;
  left: 45%;
  background-color: #287FB8;
  border: 1px solid #287FB8;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  max-width: 420px;
  min-width: 420px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 2em;
}



.facebook {
  position: absolute;
  bottom: 28%;
  left: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b5998;
  text-decoration: none;
  border: 1px solid #3b5998;
  border-radius: 5px;
  color: white;
  width: 420px;
  height: 27px;
  font-weight: 400;
  font-size: 20px;
  padding: 8px;
}

.facebook input {
  font-size: 14px;
}

.dont-have {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10.5%;
  left: 35%;
  color: #34495e;
  font-size: 1em;
}

.login-signup-button {
  border: 1px solid #287FB8;
  color: #287FB8;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  min-width: 116px;
  padding: 8px 12px;
  text-align: center;
  border-radius: 3px;
  position: relative;
  top: 1.5em;
  padding: 8px 12px;

}

.login-form p::before {
  content: '';
  width: 200px;
  height: 3px;
  background-color: #f7f7f7;;
  justify-content: center;
  display: flex;
  flex-direction: row;
  opacity: 1.0;
  position: relative;
}

.login-form p {
  position: absolute;
  top: 57%;
  left: 7%;
  justify-content: center;
  flex-direction: row;
  color: #6c797a;
  opacity: 1.0;
  align-items: center;
  background: #fff;
  display: flex;
  padding: 0 10px;
  z-index: 1;
  font-size: 15px;
  line-height: 0.7;
}

.login-form p::after {
  content: '';
  width: 200px;
  height: 3px;
  background-color: #f7f7f7;;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 1.0;
  position: relative;
}

.login-error {
  background-color: rgba(198,61,67,0.25);
  color: #3e1214;
  position: absolute;
  top: 11%;
  left: 20%;
}