

.splash-body {
  background-color: #287FB8;
  background-image: asset_url("bg.png");
  margin: auto;
  min-height: 100vh;
  // margin-top: 70px;
}

.splash-body-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.facebook-form {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  z-index: 1;
  width: 280px;
  height: 280px;
  padding: 20px 60px;
  border-radius: 5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}
.facebook-form h2 {
  position: relative;
  top: 1.2em;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#27374c;
  display: flex;
  justify-content: center;
}
.facebook-form h3 {
    position: relative;
    bottom: 38px;    font-size: 14px;
    font-weight: normal;
    color: #27374c;
    opacity: .75;
}

.demo-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b5998;
  text-decoration: none;
  border: 1px solid #3b5998;
  border-radius: 5px;
  color: white;
  max-width: 280px;
  width: 280px;
  height: 31px;
  font-weight: 400;
  font-size: 20px;
  padding: 8px;
  position: relative;
  bottom: 21%;
}

.demo-login input {
  font-size: 20px;
}

.signup-form-box {
  z-index: 1;
  background-color: white;
  width: 280px;
  height: 428px;
  /* min-height: 468px; */
  padding: 20px 60px;
  border-radius: 5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}

.signup-form {
  display: flex;
  flex-wrap: wrap;
}

.signup-form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
    height: 500px;
}

.signup-form h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  display: block;
  position: relative;
  left: 2.5em;
  bottom: 15px;
  color: #27374c;
}

.signup-form label {
  color: #27374c;
  font-size: 16px;
  font-weight: normal;
}

.signup-form label input {
  border: 1px solid rgba(0,0,0,0.15);
  font-size: 1em;
  width: 50%;
  margin: 5px 5px;
  width: 8em;
  height: 3em;
  padding: 4px 8px;
}

.signup-form label input:focus {
  box-shadow: 0 0 5px rgb(81, 118, 238);
  border: 3px solid rgba(81, 118, 238, 1);
}

.signup-form label p {
  opacity: 0.75;
  color:#27374c;
  font-size: 14px;
}

.signup-form-email {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 38px;
  min-width: 280px;
}

.signup-form-password {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 57px;
  font-size: 18px;
}

.first-name-join {
  width: 50%;
  position: relative;
  left: -20px;
  top: 20px;
}

.last-name-join {
  width: 50%;
  position: relative;
  top: 20px;
}

.first-name {
  position: relative;
  left: 1.3em;
}

.last-name {
  position: relative;
  left: 1.3em;
}

.signup-input-first-name {
  position: relative;
  right: 6px;
}

.signup-input-last-name {
  position: relative;
  right: 6px;
}

.signup-input-email {
  min-width: 280px;
  height: 50px;
  position: relative;
  right: 6px;
}

.session-submit {
  display: flex;
  position: relative;
  top: 4.8em;
  left: 2.7em;
  width: 200px;
  height: 40px;
  background-color: #ED6504;
  border-color: #ED6504;
  justify-content: center;
  border: 1px solid #ED6504;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
}

.splash-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.splash-header h1 {
  margin: 0 0 15px 0;
  font-size: 29px;
  font-weight: normal;
  line-height: 1.5;
  position: relative;
  top: 1em;
  opacity: .80;

}
.splash-header h2 {
  font-weight: 300;
  font-size: 20px;
  margin: 0 0 0.75em 0;
  line-height: 1.5;
  opacity: .80;
  position: relative;
  top: 15px;
}

// .splash p {
//   color: white;
//   opacity: 1.0;
//   font-weight: 350;  
// }

.midsection::before {
  content: '';
  width: 3px;
  height: 200px;
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 1.0;
  position: relative;
  bottom: 10px;
}

.midsection {
  font-size: 32px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 1.0;
  align-items: center;
  position: inherit;
  top: 1.8em;
}

.midsection::after {
  content: '';
  width: 3px;
  height: 200px;
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  opacity: 1.0;
  position: relative;
  top: 10px;
}

.login-modal {
  position: absolute;
  bottom: 2em;
  color: white;
}

.login-modal button {
  background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 350;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 0px 21px;
    text-align: center;
    text-decoration: none;
    opacity: 0.85;
}

