footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  border: 1px solid lightgray;
}

.main-footer {
  display: flex;
}

.main-footer h3 {
  margin: auto;
  display: flex;
  width: 150px;
  height: 75px;
  align-items: center;
}

.footer-icons {
  display: flex;
  width: 150px;
  height: 75px;
  align-items: center;
  margin: auto;
}

.footer-icons > a > img {
  width: inherit;
  height: 50px;
}

.personal {
  border-radius: 66%;
}

